<!DOCTYPE html>

<html 
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
	<div id="content" th:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				
			<div class="panel panel-default">
					<div class="panel-heading">Liste Clients</div>
					<div class="panel-body">
						<table  data-toggle="table" id="table-style" data-url="tables/data2.json" data-row-style="rowStyle">
						    <thead>
						    <tr>
						        <th data-field="id" data-align="right" >Client ID</th>
						        <th data-field="name" >Client Nom</th>
						        <th data-field="adresse" >Client Adresse</th>
						    </tr>
						    </thead>
						    
						    <tbody>
						    	<tr th:each="c:${clients}">
						    		<td ><a class="linkCommandesDuClient" th:text="${c.idClient}" data-toggle="modal" data-target="#listerCommandesDuClient"></a><input type="hidden" th:value="${c.idClient}"/></td>
						    		<td th:text="${c.nom}"></td>
						    		<td th:text="${c.adresse}"></td>
						    	</tr>
						    
						    </tbody>
						</table>
						<div class="fixed-table-pagination">
						 <ul class="nav nav-pills">
                    		<li th:each="p,status:${nombrePages}">
                    			<a th:href="@{listerClient(page=${status.index})}" th:text="${status.count}"></a>
                    		</li>
                    	</ul>
						</div>
					</div>
				</div>
				</div>
			</div>
			
			   <div class="modal fade" role="dialog" id="listerCommandesDuClient">
		<div class="modal-dialog" role="document">
			<div class="model-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">x</button>
					<h3>Les articles Commandee:</h3>
				</div>
				<div class="model-body">

					<br/>
					<div class="input-group col-md-12 col-sm-6 col-xs-12">
											<table id="tableCommandeDuClient"
												class="table table-responsive table-hover table-bordered">
												<thead>
													<tr>
														<th>ID  commade</th>
														<th>Date Commande</th>
														
														

													</tr>
												</thead>
												<tbody>
														
												</tbody>
											</table>
										</div>

				</div>
			</div>
		</div>
	</div>
			
			<!-- /.col-->
		</div>
		
	



</body>

</html>